body{
    background-image: url(../images/magic_ball_4.gif);
    background-size: cover;
    background-position: center;
    background-position-y: -50px;
    
    
    height: 100vh;
    padding:0;
    margin:0;
}

div {
  background-color: thistle;
  opacity: .7;
  width: 50%;
}